run = "vite"
entrypoint = "index.html"
hidden = [".config"]
modules = ["nodejs-18:v11-20230920-bd784b9", "web:v2-20230623-0b7a606"]

[nix]
channel = "stable-22_11"

[deployment]
deploymentTarget = "static"
build = ["npm", "run", "build"]
publicDir = "dist"

[rules]

[rules.formatter]

[rules.formatter.fileExtensions]

[rules.formatter.fileExtensions.".html"]
id = "module:web:v4-20231219-faac932/languageServer:html"
